#footer{
    position: absolute;
    bottom: 0px;
    width:100vw;
    height: 3vh;
    background-color: #121212;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5;
    /* border: 1px solid white; */
}